.navbar {
  height: 64px;
  width: 100%;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #020617;
}

.pageTitle {
  font-size: 18px;
  font-weight: 600;
  color: #f9fafb;
}

.userPill {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background: linear-gradient(135deg, #60a5fa, #6366f1);
  color: white;

  font-weight: 600;
  display: grid;
  place-items: center;
}
